body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: lightgray;
}

header {
    background-color: darkgreen;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 150px;
}

.header-content h1 {
    font-size: 48px;
    color: limegreen;
}

.header-content p {
    font-size: 24px;
    color: limegreen;
}

.header-image img {
    width: 150px;
}

.game-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.game-content h2 {
    color: darkgreen;
    font-size: 32px;
}

.coin {
    display: flex;
    gap: 64px;
    align-items: center;
    justify-content: center;
}

.side {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.side button {
    padding: 10px;
    background-color: lightgray;
    border: none;
}

.side button img {
    width: 200px;
    transition: transform 0.3s ease;
}

.side button img:hover {
    transform: scale(1.15);
}


.output {
    text-align: center;
    margin-top: 50px;
}

.computer-choice img{
    width: 200px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background-color: lightyellow;
}

footer p a {
    color: black;
    text-decoration: none;
}

footer p a:hover {
    text-decoration: underline;
}